@font-face {
  font-family: 'Bubblegum';
  src: url(bubblegum/Bubblegum.ttf) format('truetype');
}
body{
  margin: 0;
  background-image: url(img/sfondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Bubblegum', sans-serif;
  font-size: 20px;
  overflow-y: hidden;
}
.header{
  padding: 20px;
  background-color: black;
  text-align: center;
  margin: auto;
}
.container{
  display:flex;
  justify-content: space-around;
  margin: 20px;
}
.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  width: 600px;
  margin: auto; 
}
.images img {
  width: 100%;
  aspect-ratio: 1 / 1;  /*adatta larghezza e altezza*/
  object-fit: cover; /*riempie tutti gli spazi*/
  display: block;
}
.panel{
  text-align: center;
  margin: auto 0;
  background-color: black;
  padding: 50px;
  padding-bottom: 20px;
  border: 5px solid black;
  border-radius: 20px;
}
.test{
  display: none; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  padding-bottom: 20px;
  text-align: center;
  background-color: black;
  border: 5px solid black;
  border-radius: 20px;
}
.loading{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
#counter{
  border-radius: 10px;
  height: 25px;
  margin: 20px;
}
#ButtonSubmit{
  border: 2px solid white;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 18px;
}
#ButtonSubmit:hover{
  background-color: white;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
#TestImage{
  width: 200px;
  height: 200px;
  border-radius: 25px;
  border: 5px solid rgb(0, 0, 0);
  transition: transform 0.3s ease;
}
#TestImage:hover{
  transform: scale(1.1);
}
.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}
.btn-12,
.btn-12 *,
.btn-12 :after,
.btn-12 :before,
.btn-12:after,
.btn-12:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-12 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-12:disabled {
  cursor: default;
}

.btn-12:-moz-focusring {
  outline: auto;
}

.btn-12 svg {
  display: block;
  vertical-align: middle;
}

.btn-12 [hidden] {
  display: none;
}

.btn-12 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}

.btn-12 span {
  mix-blend-mode: difference;
}

.btn-12:after,
.btn-12:before {
  background: linear-gradient(
    90deg,
    #fff 25%,
    transparent 0,
    transparent 50%,
    #fff 0,
    #fff 75%,
    transparent 0
  );
  content: "";
  inset: 0;
  position: absolute;
  transform: translateY(var(--progress, 100%));
  transition: transform 0.2s ease;
}

.btn-12:after {
  --progress: -100%;
  background: linear-gradient(
    90deg,
    transparent 0,
    transparent 25%,
    #fff 0,
    #fff 50%,
    transparent 0,
    transparent 75%,
    #fff 0
  );
  z-index: -1;
}

.btn-12:hover:after,
.btn-12:hover:before {
  --progress: 0;
}